{% load staticfiles %}
<html>
    <head>
        <title>Roland Health Hub</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/market.css' %}">

        
    </head>
    <body>
    <div class="page-header">
    	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}" class="top-menu">logout {{ user.get_username }}</a>
		{% else %}
		<a href="{% url 'login' %}" class="top-menu">Login </a>
		{% endif %}
        <h1><a href="/">Roland Health Hub</a></h1>
    </div>
    <div class="content container">
        <div class="row">
        	{% if not user.is_authenticated %}
        	<p> You need to login to see more information </p>
        	 {% endif %}
            {% block content %}
            {% endblock %}
           
           
        </div>
    </div>
</body>
</html>
