{% extends 'market/base.html' %}

{% block content %}
    <div class="post">
        {% if researchrequest.published_date %}
            <div class="date">
                {{ researchrequest.published_date }}
            </div>
        {% endif %}
        <h1>{{ researchrequest.title }}</h1>
		<h5>{{ researchrequest.author }}</h5>
		
		<h3>Hypothese</h3>
        <p>{{ researchrequest.hypo|linebreaksbr }}</p>
        <h3> Participanten  </h3>
        <p>
        {% for researchparticipant in researchparticipants %}
        	{{ researchparticipant.author }} <br>
        {% endfor %} </p>
        
        <a href="{% url 'participant_add' pk=researchrequest.pk %}"> add participant</a>
    </div>
{% endblock %}
