{% load staticfiles %}
<html>
    <head>
        <title>Rolands Django Projecten</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/market.css' %}">

        
    </head>
    <body>
    <div class="page-header">
    	{% if user.is_authenticated %}
		<a href="{% url 'logout' %}" class="top-menu">logout {{ user.get_username }}</a>
		{% else %}
		<a href="{% url 'login' %}" class="top-menu">Login </a>
		{% endif %}
        <h1><a href="/">Rolands Django Projecten</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
            
        </div>
    </div>
</body>
</html>